<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
</head>

<body>
    <nav class='topnav'>
        <div class='nav-logo'>
            Logo
        </div>
        <div class='menu'>
            <a href="">Features</a>
            <a href="">FAQ</a>
            <a href="">Support</a>
        </div>
        <div class="signmenu">
            <a href="./login">Login</a>
            <a href="./signup">Signup</a>
        </div>
    </nav>
    <div class="mainbody">
        <h1 class="maintitle">LOREM IPSUM DOLOR...</h1>
        <p class=mainbodytext>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed porta dui. Maecenas
            in nulla risus.
            Aliquam et elit elit. Vestibulum varius, lorem vitae porta volutpat, eros augue
            volutpat risus, vitae
            pretium lacus turpis at lorem. Praesent velit risus, iaculis non posuere ut, accumsan a
            nunc. Nunc sit amet
            tincidunt arcu, in tincidunt sapien. Cras interdum aliquet luctus. Vivamus aliquet
            lorem lacinia, ultrices
            leo efficitur, cursus justo.
        </p>
        <div class="mainbodybtns">
            <div onclick="window.location.href='./chat';" class="downloadbtn">
                <a>Download now</a>
            </div>
            <div onclick="window.location.href='./chat';" class="startbtn">
                <a>Start Chatting</a>
            </div>
        </div>
    </div>
</body>

</html>