<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
    <link rel="stylesheet" type="text/css" href="./styles/signup.css" />
</head>

<body>
    <div class='mainbody'>
        <h1 class="logintitle">Welcome Back</h1>
        <form action="" method="post" class="loginform">
            <label for="email-inpt" class="email-lbl">Email</label>
            <input type="email" name="email-inpt" id="email-inpt">
            <label for="username-inpt" class="username-lbl">Username</label>
            <input type="text" name="username-inpt" id="username-inpt">
            <label for="pass-inpt" class="pass-lbl">Password</label>
            <input type="password" name="pass-inpt" id="pass-inpt">
            <label for="pass2-inpt" class="pass-lbl">Retype Password</label>
            <input type="password" name="pass2-inpt" id="pass2-inpt">
            <label for="date-inpt" class="date-lbl">Date of Birth</label>
            <input type="date" name="date-inpt" id="date-inpt">
            <button type="submit" class="sbmtbtn">Signup</button>
            <p><a class="signuplink" href="/login">Already have an account?</a></p>
        </form>
    </div>
</body>

</html>